body {
    background-image: url("../img/bgimage.jpg");
    background-repeat: no-repeat;
    background-size: 100% 600px;
}

.search-input {
    height: 35px;
    /* outline: none; */
}

.search-btn  {
    width: 150px;
    height: 35px;
}

.right-site {
    width: 570px;
    height: 350px;
    border: solid rgb(255, 255, 255);
}

.white {
    font-size: 20px;
    color: #59ff07;
}

.red {
    color: red;
}

.yellow {
    color: yellow;
}

.clear {
    width: 150px;
    height: 35px;
    background-color: rgb(0, 160, 240);
    color: rgb(255, 255, 255);
}

.check-btn {
    background-color: rgb(0, 247, 16);
}

.checked {
    width: 35px;
    height: 25px;
    
}